# requirements.txt (à la racine de votre repo)
-f https://download.pytorch.org/whl/cpu/torch_stable.html
streamlit==1.47.0
torch==2.6.0
compressai==1.1.5

# on force quand même les libs manquantes ou à jour
timm>=0.9.4
thop
ptflops

# puis on importe tout ce qui est listé dans ELiC_ReImplemetation/requirements.txt
-r ELiC_ReImplemetation/requirements.txt
