compressai==1.1.5
tifffile==2025.3.30
# numpy==1.26.4   ← supprimé
pandas==2.3.1
scikit-image==0.25.2
pillow==11.1.0
fsspec
tqdm==4.67.1
# jinja2 supprimé précédemment
Cython>=0.29
timm>=0.9.4
thop
ptflops

-r ELiC_ReImplemetation/requirements.txt
